html :where(.wp-block) {
	max-width: initial !important;
}

.editor-styles-wrapper .is-root-container p {
	line-height: normal;
}

.block-editor-inner-blocks {
	width: 100%;
}

.editor-styles-wrapper .wp-block {
	margin-left: 12px !important;
	margin-right: 12px !important;
}

.editor-styles-wrapper .block-editor-inner-blocks .wp-block {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.responsive-screen-select-button {
	padding-right: 12px !important;
	padding-left: 6px !important;
	width: initial !important;
}

.components-toggle-control__help,
.components-checkbox-control__help {
	margin-left: 0px !important;
}
